* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  background: olivedrab;
  height: 100%;
  transition: all 0.5s ease;

  header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(40, 75, 8);
    user-select: none;
  }
  ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
  }
  li a i {
    margin-right: 16px;
  }
}
ul li:hover a {
  padding-left: 50px;
}
