// Khai báo kích thước tương ứng với màn hình thiết bị

$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}
